.enrolled-list {
	
}

.enrolled-group {
	margin: 24px 0;
}

p + .enrolled-group {
	margin-top: 36px;
}

.enrolled-person {
	font-size: 19px;
	margin: 12px 0;
	font-weight: 400;
}

.enrolled-person .parallel {
	display: inline-block;
	width: 36px;
	font-size: 15px;
}

.enrolled-person .discount {
	display: none;

	_display: inline-block;
	margin-left: 12px;
	color: #BC3A17;
	font-size: 14px;
}

.enrolled-list .discount-info {
	font-size: 14px;
	color: #BC3A17;
	margin: 36px 0 0 8px;
	line-height: 19px;
	max-width: 200px;
}

.enrolled-list-switchers {
}

.enrolled-list-switcher {
	display: inline-block;
	border-bottom: 0px;
	font-size: 18px;	
	color: black;	
}

.enrolled-list-switcher + .enrolled-list-switcher {
	margin-top: 3px;
}

.enrolled-list-switcher + .enrolled-list-switcher:not(.active) {
	margin-top: 6px;
}

.enrolled-list-switcher.active {
	background-color: rgba(188, 58, 23, 0.1);
	padding: 5px 9px;
	pointer-events: none;
}

.enrolled-list-switcher:not(.active) {
	/*
	background-image: linear-gradient(to right, #ccc 60%, rgba(255, 255, 255, 0) 0%);
  	background-position: bottom;
  	background-size: 15px 1px;
  	background-repeat: repeat-x;
  	*/
  	border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  	margin: 2px 9px;
  	padding: 3px 0px;
}

h2 + .by-name,
h2 + .by-name + .by-parallel {
	margin-top: -10px;
}