/* Effra */

@font-face {
	font-family: 'Effra';
	src: url('../fonts/effra/light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'Effra';
	src: url('../fonts/effra/regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Effra';
	src: url('../fonts/effra/medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Effra';
	src: url('../fonts/effra/bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Effra';
	src: url('../fonts/effra/heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

/* Clear Sans */
/* not used now */
/*
@font-face {
	font-family: 'Clear Sans';
	src: url('../fonts/clear_sans/thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Clear Sans';
	src: url('../fonts/clear_sans/light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Clear Sans';
	src: url('../fonts/clear_sans/regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Clear Sans';
	src: url('../fonts/clear_sans/medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Clear Sans';
	src: url('../fonts/clear_sans/bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
*/

/* Pragmatica Slabserif */
/* not used now */