* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Effra", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}


input[placeholder]          {text-overflow:ellipsis;}
input::-moz-placeholder     {text-overflow:ellipsis;} 
input:-moz-placeholder      {text-overflow:ellipsis;} 
input:-ms-input-placeholder {text-overflow:ellipsis;}

input,
textarea {
  font-family: "Effra", sans-serif;
}

textarea {
  resize: vertical;
}

address {
  font-style: normal;
}

input:focus,
textarea:focus {
  outline: none;
}

/* Adaptive images */
img {
  height: auto;
  max-width: 100%;
  width: auto\9;
}

b {
  font-weight: 700;
}

strong {
  font-weight: 800;
}

/* Fix for google map */
#map img {
  max-width: none;
}

/* Adaptive videos */
.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video iframe,  
.video object,  
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ib {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}

h1 {
  font-size: 69px;
  line-height: 50px;
  font-weight: 800;
  margin-bottom: 30px;
}

h2 {
  font-size: 40px;
  line-height: 44px;
  font-weight: 800;
  margin-top: 86px;
  margin-bottom: 12px;
}

h2.green {
  color: #73A100;
}

h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  margin: 12px 0 6px;
}

p {
  font-size: 19px;
  line-height: 24px;
}

p + h2 {
  margin-top: 55px; 
}

p + h3 {
  margin-top: 8px; 
}

p + p {
  margin-top: 12px;
}

ul li {
  font-size: 19px;
  line-height: 24px;
}

ul.mdash-list {
  padding-left: 23px;
}

ul.mdash-list li:before {
  content: "— ";
  margin-left: -23px;
}

ul.mdash-list li {
  margin-top: 8px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 49px;
    line-height: 40px;
  }

  h2 {
    font-size: 30px;
    line-height: 33px;
    margin-top: 46px;
  }
}

.button {
  padding: 14px 24px;
  display: inline-block;
  font-size: 19px;
  position: relative;  
  border: 0;
  cursor: pointer;
  color: #fff !important;
}

.button:hover {  
  border: 0;
}

.button:active {
  top: 3px;
  left: 3px;  
  border: 0;
}

.button.red {
  background: #bc3a17 !important;
  color: #fff !important;
  box-shadow: 5px 5px 0 #D0B8B5;
}

.button.red:hover {
  background: #ed3200 !important;
  box-shadow: 5px 5px 0 #C1ACAA;
}

.button.red:active {
  box-shadow: 1px 1px 0 #775E5D;
}

.button.green {
  background: #739200 !important;
  box-shadow: 5px 5px 0 #C2C6B2;
}

.button.green:hover {
  background: #99C200 !important;
  box-shadow: 5px 5px 0 #AFB3A0;
}

.button.green:active {
  box-shadow: 1px 1px 0 #5F6157;
}


.mtn  { margin-top: 0px !important;  }
.mt5  { margin-top: 5px !important;  }

.mt6 { margin-top: 6px !important; }
.mt10 { margin-top: 10px !important; }
.mt12 { margin-top: 12px !important; }
.mt20 { margin-top: 20px !important; }
.mt24 { margin-top: 24px !important; }
.mt26 { margin-top: 26px !important; }
.mt30 { margin-top: 30px !important; }
.mt38 { margin-top: 38px !important; }
.mt40 { margin-top: 40px !important; }
.mt50 { margin-top: 50px !important; }
.mt60 { margin-top: 60px !important; }
.mt70 { margin-top: 70px !important; }
.mt80 { margin-top: 80px !important; }
.mt90 { margin-top: 90px !important; }

.mbn  { margin-bottom: 0px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb70 { margin-bottom: 70px !important; }
.mb80 { margin-bottom: 80px !important; }
.mb90 { margin-bottom: 90px !important; }

.mln15 { margin-left: -15px !important; }
.mln3 { margin-left: -3px !important; }
.ml10 { margin-left: 10px !important; }
.ml20 { margin-left: 20px !important; }
.ml30 { margin-left: 30px !important; }
.ml40 { margin-left: 40px !important; }
.ml50 { margin-left: 50px !important; }
.ml60 { margin-left: 60px !important; }
.ml70 { margin-left: 70px !important; }
.ml80 { margin-left: 80px !important; }
.ml90 { margin-left: 90px !important; }

.pt10 { padding-top: 10px !important; }
.pt20 { padding-top: 20px !important; }
.pt30 { padding-top: 30px !important; }
.pt40 { padding-top: 40px !important; }
.pt50 { padding-top: 50px !important; }
.pt60 { padding-top: 60px !important; }
.pt70 { padding-top: 70px !important; }
.pt80 { padding-top: 80px !important; }
.pt90 { padding-top: 90px !important; }

.pr10 { padding-right: 10px !important; }
.pr20 { padding-right: 20px !important; }
.pr30 { padding-right: 30px !important; }
.pr40 { padding-right: 40px !important; }
.pr50 { padding-right: 50px !important; }
.pr60 { padding-right: 60px !important; }
.pr70 { padding-right: 70px !important; }
.pr80 { padding-right: 80px !important; }
.pr90 { padding-right: 90px !important; }

.xs-visible { display: block; }
.xs-hidden { display: none; }

.clear-left { clear: left; }
.clear-initial { clear: initial; }

@media (min-width: 768px) {
  .sm-ib { display: inline-block; }

  .sm-mtn  { margin-top: 0 !important; }
  .sm-mt10 { margin-top: 10px !important; }
  .sm-mt12 { margin-top: 12px !important; }
  .sm-mt20 { margin-top: 20px !important; }
  .sm-mt30 { margin-top: 30px !important; }
  .sm-mt40 { margin-top: 40px !important; }
  .sm-mt50 { margin-top: 50px !important; }
  .sm-mt60 { margin-top: 60px !important; }
  .sm-mt70 { margin-top: 70px !important; }
  .sm-mt80 { margin-top: 80px !important; }
  .sm-mt90 { margin-top: 90px !important; }

  .sm-mln  { margin-left: 0 !important; }
  .sm-ml10 { margin-left: 10px !important; }
  .sm-ml20 { margin-left: 20px !important; }
  .sm-ml30 { margin-left: 30px !important; }
  .sm-ml40 { margin-left: 40px !important; }
  .sm-ml50 { margin-left: 50px !important; }
  .sm-ml60 { margin-left: 60px !important; }
  .sm-ml70 { margin-left: 70px !important; }
  .sm-ml80 { margin-left: 80px !important; }
  .sm-ml90 { margin-left: 90px !important; }

  .sm-ptn { padding-top: 0px !important; }
  .sm-pt10 { padding-top: 10px !important; }
  .sm-pt20 { padding-top: 20px !important; }
  .sm-pt30 { padding-top: 30px !important; }
  .sm-pt40 { padding-top: 40px !important; }
  .sm-pt50 { padding-top: 50px !important; }
  .sm-pt60 { padding-top: 60px !important; }
  .sm-pt70 { padding-top: 70px !important; }
  .sm-pt80 { padding-top: 80px !important; }
  .sm-pt90 { padding-top: 90px !important; }

  .sm-pr10 { padding-right: 10px !important; }
  .sm-pr20 { padding-right: 20px !important; }
  .sm-pr30 { padding-right: 30px !important; }
  .sm-pr40 { padding-right: 40px !important; }
  .sm-pr50 { padding-right: 50px !important; }
  .sm-pr60 { padding-right: 60px !important; }
  .sm-pr70 { padding-right: 70px !important; }
  .sm-pr80 { padding-right: 80px !important; }
  .sm-pr90 { padding-right: 90px !important; }

  .sm-visible { display: block; }
  .sm-hidden { display: none; }

  .sm-clear-left { clear: left; }
  .sm-clear-initial { clear: initial; }
  .sm-ta-right { text-align: right }

  .sm-fs15 { font-size: 15px; line-height: 18px; }
}

@media (min-width: 992px) {  
  .md-ib { display: inline-block; }

  .md-mln  { margin-left: 0 !important; }
  .md-ml10 { margin-left: 10px !important; }
  .md-ml20 { margin-left: 20px !important; }
  .md-ml30 { margin-left: 30px !important; }
  .md-ml40 { margin-left: 40px !important; }
  .md-ml50 { margin-left: 50px !important; }
  .md-ml60 { margin-left: 60px !important; }
  .md-ml70 { margin-left: 70px !important; }
  .md-ml80 { margin-left: 80px !important; }
  .md-ml90 { margin-left: 90px !important; }

  .md-mtn  { margin-top: 0 !important; }
  .md-mt5  { margin-top: 5px !important; }
  .md-mt10 { margin-top: 10px !important; }
  .md-mt20 { margin-top: 20px !important; }
  .md-mt30 { margin-top: 30px !important; }
  .md-mt40 { margin-top: 40px !important; }
  .md-mt50 { margin-top: 50px !important; }
  .md-mt60 { margin-top: 60px !important; }
  .md-mt70 { margin-top: 70px !important; }
  .md-mt80 { margin-top: 80px !important; }
  .md-mt90 { margin-top: 90px !important; }

  .md-visible { display: block; }
  .md-hidden { display: none; }

  .md-clear-left { clear: left; }
  .md-clear-initial { clear: initial; }

  .md-fs15 { font-size: 15px; line-height: 18px; }
}

@media (min-width: 1200px) {
  .lg-ib { display: inline-block; }

  .lg-ptn  { padding-top: 0 !important; }
  .lg-pt10 { padding-top: 10px !important; }
  .lg-pt20 { padding-top: 20px !important; }
  .lg-pt30 { padding-top: 30px !important; }
  .lg-pt40 { padding-top: 40px !important; }
  .lg-pt50 { padding-top: 50px !important; }
  .lg-pt60 { padding-top: 60px !important; }
  .lg-pt70 { padding-top: 70px !important; }
  .lg-pt80 { padding-top: 80px !important; }
  .lg-pt90 { padding-top: 90px !important; }

  .lg-mln  { margin-left: 0 !important; }
  .lg-ml10 { margin-left: 10px !important; }
  .lg-ml20 { margin-left: 20px !important; }
  .lg-ml30 { margin-left: 30px !important; }
  .lg-ml40 { margin-left: 40px !important; }
  .lg-ml50 { margin-left: 50px !important; }
  .lg-ml60 { margin-left: 60px !important; }
  .lg-ml70 { margin-left: 70px !important; }
  .lg-ml80 { margin-left: 80px !important; }
  .lg-ml90 { margin-left: 90px !important; }

  .lg-visible { display: block; }
  .lg-hidden { display: none; }
}

/* Helpers */
.hidden { display: none; }
.color-inherit { color: inherit; }
.background-top { background-position: top !important; }
.ta-left { text-align: left; }
.ta-center { text-align: center; }
.ta-right { text-align: right; }
.ta-justify { text-align: justify; }
.va-middle { vertical-align: middle; }
.ib { display: inline-block; }
.fw200 { font-weight: 200; }
.fw300 { font-weight: 300; }
.fw400 { font-weight: 400; }
.fw500 { font-weight: 500; }
.fs13 { font-size: 13px; }
.fs14 { font-size: 14px; }
.fs15 { font-size: 15px; line-height: 18px; }
.fs16 { font-size: 16px; }
.fs17 { font-size: 17px; }
.fs18 { font-size: 18px; }
.fs19 { font-size: 19px; line-height: 24px; }
.mw300 { max-width: 300px; }
.mw400 { max-width: 400px; }
.mw500 { max-width: 500px; }
.mw600 { max-width: 600px; }
.mw700 { max-width: 700px; }
.mw800 { max-width: 800px; }
.mw900 { max-width: 900px; }
.minw300 { min-width: 300px; }
.minw400 { min-width: 400px; }
.minw500 { min-width: 500px; }
.minw600 { min-width: 600px; }
.minw700 { min-width: 700px; }
.minw800 { min-width: 800px; }
.minw900 { min-width: 900px; }

footer {
  padding: 70px 0 40px;
  font-size: 15px;
  line-height: 1.3em;
}

@media (max-width: 767px) {
  footer {
    padding-top: 10px;
    font-size: 13px;
  }
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;  
}

a {
  color: #BC3A17;
  border-bottom: 1px solid rgba(188, 58, 23, 0.2);
}

a:hover,
a:focus,
a:active {
  border-bottom-color: rgba(255, 54, 0, 0.2);
}

a:not(.button):hover {
  color: #ed3200;
}

a.not-text-link {
  border-bottom-width: 0px;
}

a.not-text-link div {
  color: inherit;
}

a.not-text-link .not-text-link__text {
  border-bottom: 1px solid rgba(188, 58, 23, 0.2);
}

a.not-text-link:hover .not-text-link__text {
  color: #ed3200;
  border-bottom: 1px solid rgba(255, 54, 0, 0.2);
}

.green-links a {
  color: #73A100;
  border-bottom-color: rgba(115, 161, 0, 0.2);
}

.green-links a:hover,
.green-links a:focus,
.green-links a:active {
  color: #557003;
}

footer a {
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

footer a:hover,
footer a:focus,
footer a:active {
  color: #ed3200;
  border-bottom-color: rgba(255, 54, 0, 0.2);
}

.header {
  width: 100%;
}

.header.with-background {
  height: 440px;
  min-height: 440px;
  background-size: cover;
  background-position: center center;
}

.header .description {
  padding-left: 0;
}

.header > .container {
  height: 348px;
  position: relative;
}

@media (max-height: 540px) {
  .header.with-background {
    height: 380px;
    min-height: 380px;
  }

  .header > .container {
    height: 288px;
  }
}

@media (min-height: 740px) {
  .header.with-background {
    height: 540px;
    min-height: 540px;
  }

  .header > .container {
    height: 448px;
  }
}


@media (min-height: 900px) {
  .header.with-background {
    height: 650px;
    min-height: 650px;
  }

  .header > .container {
    height: 550px;
  }

  .header__title h1 {
    font-size: 100px;
    line-height: 80px;
  }

  .header__title .cursor {
    font-size: 65px !important;
  }

  .header__last-news .line {
    font-size: 21px !important;
  }

  .header__last-news .line:nth-child(2) {
    top: 2px !important;
  }
}

@media (max-width: 767px) {
  .header__title .cursor {
    font-size: 35px !important;
  }
}

.header__title {  
}

.header__title.white,
.header__title.white h1 {
  color: white;
}

.header__title .cursor {
  border-left: 4px solid #BC3A17;
  font-size: 45px;
  position: relative;
  top: -4px;
  left: 3px;
}

.header .header__subtitle {
  margin-top: 20px;
  width: 450px;  
}

.header .header__subtitle p {
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
}

.header .header__subtitle p + p {
  margin-top: 5px;
}

.header h1 {
  margin-bottom: 15px;
}

.header p {
  font-family: "Effra", sans-serif;
  font-size: 16pt;
  font-weight: 400;
}

.header__last-news {
  position: absolute;
  display: inline-block;  
}

.header__last-news .line {
  font-weight: 300;
  display: block;
  white-space: nowrap;  
  font-size: 15px;
  line-height: 20px;
  margin-top: 4px;

  position: relative;
  top: -10px;
}

.header__last-news .line:nth-child(1) {
  transform: rotate(-9deg);
  z-index: 1;
}

.header__last-news .line:nth-child(2) {
  transform: rotate(-3deg);
  position: relative;
  left: 10px;
  top: -5px;
}

.header__last-news .line span {
  background-color: #BC3A17;
  color: white;
  padding: 2px 7px 7px;
}

.header__last-news:hover .line span {
  background-color: #ed3200;
}

.header__last-news:hover {
  cursor: pointer;
}

.header__last-news a,
.header__last-news a:hover,
.header__last-news a:active,
.header__last-news a:focus {
  color: inherit;
  border-color: rgba(255, 255, 255, 0.3);
}

/* dont used */
.header__news {
  display: inline-block;
  width: 180px;
  height: 180px;
  margin-left: 35px;
  margin-bottom: 35px;
  padding: 27px 20px;
  color: white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#06b7d6+0,90e6ec+100 */
  background: rgb(6,183,214); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(6,183,214,1) 0%, rgba(144,230,236,1) 100%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(6,183,214,1)), color-stop(100%,rgba(144,230,236,1))); /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(top,  rgba(6,183,214,1) 0%,rgba(144,230,236,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(top,  rgba(6,183,214,1) 0%,rgba(144,230,236,1) 100%); /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(top,  rgba(6,183,214,1) 0%,rgba(144,230,236,1) 100%); /* IE10 preview */
  background: linear-gradient(to bottom,  rgba(6,183,214,1) 0%,rgba(144,230,236,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06b7d6', endColorstr='#90e6ec',GradientType=0 ); /* IE6-9 */
}

.header__news p {
  font-size: 14pt;
  font-weight: 400;
  line-height: 18pt;
}

.header__news a {
  color: inherit;
  border-color: rgba(255, 255, 255, 0.2);
}

/* Header top */
.header__top {  
  padding-top: 15px;
}

.header.with-background .header__top {
  height: 100px;
}

.header__top .container {
  position: relative;
}

.header__top .container > div {
  display: inline-block;
}

.header.with-background .header__top.white.loaded {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#331f20+0,000000+100&1+0,0+100 */
   background: -moz-linear-gradient(top,  rgba(51,31,32,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,31,32,1)), color-stop(100%,rgba(0,0,0,0))); /* hrome4-9,Safari4-5 */
   background: -webkit-linear-gradient(top,  rgba(51,31,32,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
   background: -o-linear-gradient(top,  rgba(51,31,32,1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10-11.50 */
   background: -ms-linear-gradient(top,  rgba(51,31,32,1) 0%,rgba(0,0,0,0) 100%); /* IE10 preview */
   background: linear-gradient(to bottom,  rgba(51,31,32,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#331f20', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
 }

.header__logo {
  font-weight: 800;
  font-size: 19px;
}

.header__logo a {
  color: inherit;
  border-width: 0;
}

.header__links {
  font-size: 17px;  
  text-align: center;
}

@media (min-width: 992px) {
  .header__links {
    /* width: 75%; */
    width: 30%;
  }
}

.header.with-background .header__logo,
.header.with-background .header__links {
  color: black;
}

.header.with-background .white .header__logo,
.header.with-background .white .header__links {
  color: white;
}

.header__links a {
  /* margin-left: 30px; */
  margin-left: 7px;
  padding: 4px 7px;
  border-bottom-width: 0;
  color: black;  
}

.header__links a span {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.white .header__links a span {
  border-bottom-color: rgba(255, 255, 255, 0.2);
}

.white .header__links a.active {
  background-color: black;
}

.white .header__links a,
.white .header__links a.active {
  color: white;
}

.header__links a:hover span,
.header__links a:focus span,
.header__links a:active span,
.white .header__links a:hover span,
.white .header__links a:focus span,
.white .header__links a:active span {
  border-bottom-color: rgba(255, 54, 0, 0.2);
  color: #ed3200;
}

.header__links a.active {
  background-color: white;
  color: black;  
  border-width: 0;
  pointer-events: none;
}

.header__links a.active span {
  border-bottom-width: 0;
}

.header__links a.subactive {
  background-color: #f8ebe7;
  color: black;
  padding: 2px 7px 6px;
  border-width: 0;
}

.header__links a.subactive span {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header__links a.subactive:hover,
.header__links a.subactive:active,
.header__links a.subactive:focus {
  color: #ed3200;  
}

.header__links a.subactive:hover span,
.header__links a.subactive:active span,
.header__links a.subactive:focus span {
  border-bottom-color: rgba(255, 54, 0, 0.2);
}

.header__links a.inactive {
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  cursor: block;
  border-width: 0;
}

.white .header__links a.inactive {
  color: rgba(255, 255, 255, 0.3);
}

.header__profile {
  position: absolute;
  right: 20px;
  margin-top: -5px;
}

.header__profile a {
  border-width: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('../../images/user-black.png');
  background-size: 100%;
}

.white .header__profile a {
  background-image: url('../../images/user-white.png');
}

.header__profile a:hover {
  background-image: url('../../images/user-hover.png');
}
/* End of header top */

/* Description-black */
.description-black {
  color: white;
  position: absolute;
  bottom: -22px;
  padding: 8px;
  font-size: 15px;
  line-height: 20px;
}

.description-black .line {
  white-space: nowrap;
}

.description-black .line span {
  padding: 3px 7px 7px;
  background-color: black;
}

.description-black .line:first-child span {
  padding-top: 5px;
}

.description-black .line:last-child span {
  padding-bottom: 5px;
}
/* End of description-black */

/* Important news */
.important-news {
  background-color: #FFF6EB;
  padding: 16px 80px;
  margin: 24px 0;
  position: relative;
}

.important-news > img {
  position: absolute;
  bottom: 0;
  left: 25px;
  width: 40px;
}

.important-news .time {
  margin: 10px 0;
  font-size: 15px;
  color: #BB3A17;
}
/* End of important news */

/* Trains */
.trains {
  margin-top: 12px;
}

.trains .train {
  background-color: #F2F2F2; 
  margin: 0 -5px 0 -10px;
  padding: 0 10px 40px 20px;
}

.trains .train .title {
  display: inline-block;
  background-color: black; 
  color: white;
  padding: 3px 7px;
  font-weight: 700;
  font-size: 14px;
}

.trains .train .datetime,
.trains .train .info {
  display: inline-block;
  vertical-align: top;
  font-size: 19px;
  margin: 12px 0;
}

.trains .train .info {
  margin-left: 12px;
  padding-top: 4px;
}

@media (max-width: 1200px) {
  .trains .train .datetime {
    margin-bottom: 0;
    display: block;
  }

  .trains .train .info {
    margin: 0;
  }
}

.trains .train .info > div {
  margin: 4px 0 2px;
}

.trains .train .time {
  font-size: 54px;
  font-weight: 400;
  display: inline-block;
}

.trains .train .description {  
  margin-top: 0px;
  padding-top: 8px;
  margin-right: 10px
}

.trains .train .description p {
  line-height: 20px;
}
/* End of trains */

/* Gray blocks (similar to trains) */
.gray-block {
  background-color: #F2F2F2; 
  margin: 0;
  margin-top: 16px;
  padding: 0 10px 25px 17px;
}

.gray-block .title {
  display: inline-block;
  background-color: black; 
  color: white;
  padding: 3px 7px;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 14px;
}

.gray-block .footer {
  font-size: 15px;
  line-height: 17px;
  margin-top: 30px;
}

.col > .gray-block {
  margin-left: -15px;
  margin-right: -15px;
}

.col:not(:last-child) > .gray-block {
  margin-right: -3px;
}

.col:not(:first-child) > .gray-block {
  margin-left: -3px;
}
/* End of gray blocks */

/* File type */
.file-type {
  font-size: 12px;
  background-color: #BB3A17;
  color: white;
  text-decoration: none;
  padding: 2px 5px;
  margin-bottom: 3px;
  display: inline-block;
}
/* End of file type */

.email-rules {
  font-size: 12px;
}

.caps {
  letter-spacing: 0.05em;
}

/*
<p> « → <p><span class="hlaquo">&laquo;</span>
« → <span class="slaquo"> </span> <span class="hlaquo">&laquo;</span>
*/
.slaquo { margin-left: 0.5em; }
.hlaquo { margin-left: -0.5em; }

/*
13<span class="digits-space"></span>000
*/
.digits-space { display: inline-block; width: 3px; }

/*
<a href="">список зачисленных</a><span class="link-dot">.</span>
*/
.link-dot { color: #BC3A17; }