.header {
	background-image: url('../../images/main/header.jpg');
	background-size: cover;
}

.text-block {
	margin: 30px 0;
}

/* School announce */

.school-announces {
	margin-top: 50px;
}

.school-announce {
	padding: 0 30px 40px 20px;
}

.school-announce.red {
	background-color: #faf0ed;
	color: #BC3A17;
}

.school-announce.green {
	background-color: #f1f4e5;
	color: #739300;
}

.school-announce .title {
	display: inline-block;
    color: white;
    padding: 7px 9px;
    font-size: 15px;
}

.school-announce.red .title {
	background-color: #BC3A17;
}

.school-announce.green .title {
	background-color: #739300;
}

.school-announce .dates {
    font-size: 40px;
    font-weight: 800;
    border-bottom: 1px solid;
    padding-bottom: 7px;
    padding-top: 10px;
}

.school-announce .description {
	margin: 10px 0 18px;
}

.school-announce.red .dates {
	border-color: rgba(188, 58, 23, 0.3);
}

.school-announce.green .dates {
	border-color: rgba(115, 147, 0, 0.3);
}
/* End of school announce */

/* Sponsors */
.sponsors img {
	margin: 0 15px;
}
/* End of sponsors */

/* Image slider */
.image-slider {
	color: white;
}

.image-slider .image {
	background-image: url('../../images/main/sport.jpg');
	background-size: cover;
	height: 500px;
	padding: 40px 0;
}

.image-slider .image h2 {
	margin-bottom: 15px;
}

.image-slider .image p {
	width: 400px;
}

.image-slider .image .container {
	position: relative;
	height: 100%;
}

.image-slider .image .container .description {
	position: absolute;
	right: 0;
	bottom: 20px;
	background-color: black;
	width: 200px;
	padding: 8px;
	font-size: 15px;
	line-height: 17px;
}

.image-slider .switcher {
	position: relative;
	top: -35px;
}

.image-slider .switcher .element {
	display: inline-block;
	height: 70px;
	margin: 0;
	cursor: pointer;
}

.image-slider .switcher .element.active {
	cursor: default;
	pointer-events: none;
}

.image-slider .switcher .element img {
	height: 70px;
	width: auto;
	margin: 0;
}

.image-slider .switcher .element.active img {
	border: 5px solid black;
}
/* End of image slider */
