.header {
	background-image: url('../../images/main/header.jpg');
}

.text-block {
	margin: 30px 0;
}

/* School announce */

.school-announces {
	margin-top: 50px;	
    margin-left: -35px;
    margin-right: -35px;
}

.school-announce {
	padding: 0 30px 40px 20px;
}

.school-announce.red {
	background-color: #faf0ed;
	color: #BC3A17;
}

.school-announce.green {
	background-color: #f1f4e5;
	color: #739300;
}

.school-announces a.not-text-link span:not(.title) {
	display: block;
}

.school-announces a.not-text-link:hover .school-announce {
	background-color: #ffebe3;
	color: #ff3600;
}

.school-announces a.not-text-link:hover .title {
	background-color: #ff3600;
}

.school-announce .title {
	display: inline-block;
    color: white;
    padding: 7px 9px;
    font-size: 15px;
}

.school-announce.red .title {
	background-color: #BC3A17;
}

.school-announce.green .title {
	background-color: #739300;
}

.school-announce .dates {
    font-size: 40px;
    line-height: 37px;
    font-weight: 800;    
    padding-bottom: 7px;
    padding-top: 10px;
}

.school-announce .dates.with-border {
	border-bottom: 1px solid;
}

.school-announce .description {
	margin: 10px 0 18px;
}

.school-announce .description p {
	line-height: 1.1em;
}

.school-announce.red .dates {
	border-color: rgba(188, 58, 23, 0.2);
}

.school-announce.green .dates {
	border-color: rgba(115, 147, 0, 0.2);
}

.school-announces .button-holder {
	height: 50px;
}

.school-announces a.not-text-link + .button-container {
	position: relative;
	top: -90px;
	left: 20px;
}

.school-announce .details {
	float: right;
	/right: 10px;
	color: #B2B5AB;
	font-size: 15px;
	font-weight: 800;
	margin-top: 10px;
	margin-right: -15px;
}
/* End of school announce */

/* Sponsors */
.sponsors {
	margin: -50px 0 20px;
	text-align: center;
}

.sponsors a {
	border-width: 0;
}

.sponsors img {
	margin: 0 12px;
}
/* End of sponsors */

/* Image slider */
.image-slider {
	color: white;
}

.image-slider .image {
	background-image: url('../../images/main/sport.jpg');
	background-size: cover;
	background-position: center center;
	height: 700px;
	padding: 40px 0 0;
}

.image-slider .image h2 {
	margin-bottom: 15px;
}

.image-slider .image p {
	width: 400px;
}

.image-slider .image .container {
	position: relative;
	height: 100%;
}

.image-slider .image .container .description {
	right: 0;
}
/* End of image slider */

/* Portraits */
.portraits-header {
	z-index: 6;
	position: relative;
}

.portraits {
	height: 700px;
	position: relative;
	top: -80px;
}

.portrait {
	display: inline-block;
	position: absolute;
}

.portrait.level-1 { z-index: 5; }
.portrait.level-2 { z-index: 4; }
.portrait.level-3 { z-index: 3; }
.portrait.level-4 { z-index: 2; }


.portrait:nth-child(1) { left: 490px; top: 370px; }
.portrait:nth-child(2) { left: 50px; top: 30px; }
.portrait:nth-child(3) { left: 440px; top: 200px; }
.portrait:nth-child(4) { left: 140px; top: 290px; } 
.portrait:nth-child(5) { left: 470px; top: 50px; }
.portrait:nth-child(6) { left: 280px; top: 330px; }
.portrait:nth-child(7) { left: 600px; top: 120px; }
.portrait:nth-child(8) { left: 110px; top: 490px; }

.portrait:nth-child(9) { left: 750px; top: 90px; }
.portrait:nth-child(10) { left: 850px; top: 70px; }
.portrait:nth-child(11) { left: 30px; top: 200px; }
.portrait:nth-child(12) { left: 700px; top: 20px; }
.portrait:nth-child(13) { left: 330px; top: 210px; }
.portrait:nth-child(14) { left: 390px; top: 365px; }
.portrait:nth-child(15) { left: 20px; top: 400px; }
.portrait:nth-child(16) { left: 620px; top: 250px; }
.portrait:nth-child(17) { left: 820px; top: 210px; }
.portrait:nth-child(18) { left: 210px; top: 430px; }
.portrait:nth-child(19) { left: 400px; top: 520px; }
.portrait:nth-child(20) { left: 390px; top: 30px; }

@media (max-width: 1100px) {
	.portrait:nth-child(9),
	.portrait:nth-child(10),
	.portrait:nth-child(12),
	.portrait:nth-child(17) {
		display: none;
	}

	.portrait:nth-child(1) { left: 420px; }
}

.portrait.large img {
	width: 270px;
	min-width: 250px;
	height: auto;
}

.portrait.medium img {
	width: 170px;
	min-width: 170px;
	height: auto;
}

.portrait.small img {
	width: 130px;
	min-width: 130px;
	height: auto;
}

.portrait.with-cite .cite {
	position: absolute;
	top: 20px;	
}

.portrait.with-cite-left .cite {
	right: 150px;
}

.portrait.with-cite-right .cite {
	left: 200px;
}

.portrait.with-cite-left img {
	margin-left: 120px;
}

.portrait.with-cite-right img {
	margin-right: 145px;
}

.portrait.with-cite .title {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 7px 5px;
    font-weight: 600;
    font-size: 15px;
}

.portrait.with-cite .about {
    font-size: 15px;
    line-height: 18px;
    margin: 5px 0 7px;
    font-weight: 800;
}

.portrait.with-cite .text {
    font-size: 19px;
    font-weight: 400;
    line-height: 21px;
}
/* End of portraits */